body {
    Background-color: #fff;
    Background-image: url(assets/topography.png)
}

.container {
    background-color: #fff;
}

h1 {
    color: greenyellow;
    padding: 5px 10px;
    margin: 10px;

}

.line {
    width: 900px;
    height: 5px;
    background-color: #666;
    margin: auto;
}

.col-2 img {
    height: 200px;
}

h2 {
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: center;
}